footer {
  height: 600px;
  border: 1px solid black;
  background-color: #2e2c2c;
  position: relative;
  font-family: "nbg", "맑은 고딕", Sans-serif, Helvetica;

  margin-top: 90px;
}

.fo_1 {
  height: 250px;
  gap: 10px;
  display: flex;
  background-color: #363333;
  padding: 20px;

  position: relative;
}

.fo_1_ul {
  display: inline-block;
  display: flex;
  position: absolute;
  left: 100px;
  margin-left: 20px;
}

.fo_1_ul.inner {
  height: 762px;
  width: 405px;
}

.fo_1 ul {
  list-style: none;
  color: #ffffff;
  font-size: 15px;
  padding-top: 10px;
  margin-right: 100px;
  padding-right: 25px;
}

.fo_1 li {
  font-size: 11px;
  color: #ffffff;

  margin-block-start: 5px;
}
.fo_1 li:hover {
  text-decoration: underline;
}

.fo_2 {
  height: 120px;
  background-color: #282828;
  display: flex;
}

.fo_2 ul {
  display: flex;
  list-style: none;
  margin-right: 10px;
  margin: auto;
  padding: 5px;
  border: none;
}

.fo_2.inner {
  height: 1180px;
  width: 120px;
}

.fo_3 {
  height: 100px;
  background-color: #363333;
  color: #ffffff;
}

.aside {
  list-style: none;
  display: flex;
  
  font-size: 12px;
  height: 40px;
   position: absolute;
  left: 100px;
  margin-left: 20px;
}

.fo_3 a {
  color: #ffffff;
  text-decoration: none;
}

.fo_3 a:hover {
  text-decoration: underline;
}

.aside a {
  padding: 10px;
}

.aside .a1 {
  color: #00b050;
  font-weight: bolder;
}

.fo_3 button {
  height: 35px;
  width: 110px;
  border: 2px solid whitesmoke;
  border-radius: 3px;
  background-color: #363333;
  text-align: center;
  font-size: 12px;
  margin-right: 5px;
}

.fo_3 .btn {
  width: auto;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
}
.aside.inner {
  height: 30px;
  width: 900px;
}

.fo_4 {
  height: 100px;
  font-size: 12px;

  background-color: #363333;
}

.fo_4.inner {
  height: 1020px;
  width: 60px;
}

.fo_4 ul {
  list-style: none;
  display: flex;
  color: rgb(170, 162, 162);
  width: 700px;
  margin: 0 auto;
  position: center;
  margin-bottom: 30px;
}

.fo_4_1 {
  width: 180px;
}

.fo_4_2 {
  width: 270px;
}

.fo_4_3 {
  width: 100px;
}

.fo_4_4 {
  width: 180px;
}

.fo_4 p {
  text-align: center;
  color: rgb(170, 162, 162);
}
